@use '../../shared/styles/index' as *;

.childrenWrapper {
  display: flex;
  flex-direction: column;
  padding-top: 24px;
}

.contentWrapper {
  width: 438px;
}

.buttonsWrapper {
  display: flex;
  padding-top: 30px;
  gap: 24px;
  align-items: center;
  align-self: flex-end;
  justify-content: flex-end;

  & > button {
    width: 96px;
  }
}

.closeButton {
  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: 2px solid $color-accent-700;
  }
}
