@use '../../styles/index.scss' as *;

.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.inputLabel {
  color: $color-light-900;
}

.inputInnerWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.inputField {
  width: 100%;
  background: transparent;
  border: 1px solid $color-dark-100;
  border-radius: 6px;
  padding: 8px 12px;
  transition: border-color 0.2s;

  &::placeholder {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: $color-light-900;
  }

  // Отступы для иконок
  &.withStartIcon {
    padding-left: 40px;
  }

  &.withEndIcon {
    padding-right: 40px;
  }

  &:hover {
    border-color: $color-light-900;
  }

  &:focus {
    border-color: $color-accent-500;
    outline: none;
  }

  &:active {
    border-color: $color-light-100;
  }

  &.inputError {
    border-color: $color-danger-500;

    &:focus {
      border-color: $color-danger-500;
    }
  }

  &.inputDisabled {
    color: $color-dark-100;
    border-color: $color-dark-100;
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.inputIcon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  svg {
    color: $color-light-100;
  }

  &.startIcon {
    left: 12px;
  }

  &.endIcon {
    right: 12px;
  }
}

.inputErrorMessage {
  color: $color-danger-500;
}
