.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  //   height: 100%;

  & > h1 {
    margin-bottom: 19px;
  }

  & > p {
    margin-bottom: 54px;
  }

  & > button {
    margin-bottom: 72px;
  }
}
