@use '../shared/styles/index.scss' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input,
button,
select,
textarea,
optgroup,
option {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  color: inherit;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;

  font-family: $font-family-primary;
  line-height: $line-height-m;
  color: $color-light-100;

  background-color: $color-dark-700;
}
