@use '../../../shared/styles/index' as *;

.title {
  align-self: center;
}

.inputWrapper {
  margin-top: 37px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.container {
  width: 330px;
  display: flex;
  flex-direction: column;
  margin: 26px;
}

.paragraph {
  margin-top: 7px;
  margin-bottom: 41px;
  color: $color-light-900;
}

.sendButton {
  margin-top: 18px;
}
