.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;

  & > button {
    margin-top: 6px;
  }
}

.socialMedia {
  display: flex;
  gap: 60px;

  margin: 13px auto 24px;

  & > svg {
    width: 36px;
    height: 36px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 330px;
  margin-bottom: 18px;
}
