@use '../../styles/index.scss' as *;

.tabGroup {
  display: flex;
  align-items: center;
  gap: 10px; // Расстояние между табами
  padding-bottom: 10px;
  flex-direction: column;
  width: 100%;
}

.tabList {
  display: flex;
  width: 100%; // Контейнер занимает всю ширину
  align-items: center;
  text-align: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

// Общие стили для всех табов
.tab {
  flex-grow: 1; // Табы занимают всю доступную ширину
  text-align: center; // Текст по центру
  // padding: 5px 5px; // Убираем горизонтальные отступы, оставляем только вертикальные
  cursor: pointer;
  min-width: 85px;
  min-height: 36px;
  position: relative; // Для позиционирования ::after
  transition: all 0.3s ease;
  border: none;
  //display: flex;
  //align-items: center;
  //gap: 8px;

  // Псевдоэлемент ::after для нижнего подчеркивания
  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 3px; // Толщина подчеркивания
    background-color: $color-dark-100; // По умолчанию прозрачное
    transition: all 0.3s ease; // Плавная анимация
  }

  // Неактивный таб по умолчанию
  &:not(.active) {
    color: $color-dark-100;
    background-color: transparent;

    // Нижнее подчеркивание для неактивного таба
    &::after {
      background-color: $color-dark-100; // Серое подчеркивание
    }

    // Hover для неактивного таба
    &:hover {
      background-color: $color-accent-900; // синее подчеркивание

      &::after {
        background-color: $color-dark-100; // Светло-серое подчеркивание
      }
    }

    // Focus для неактивного таба
    &:focus {
      //outline: colors.$color-accent-700;
      background-color: $color-accent-700;

      // outline-offset: 2px;
    }

    // Disabled для неактивного таба
    &.disabled {
      color: $color-dark-300; // Темно-серый текст
      cursor: not-allowed;
      // opacity: 0.6;

      &::after {
        background-color: $color-dark-300; // Серое подчеркивание
      }
    }

    // Стили для неактивного таба с классом active
    &.active {
      color: $color-dark-100; // Текст остается темным
      background-color: $color-accent-100;
      border: none; // Граница остается без изменений

      &::after {
        background-color: $color-dark-100; // Подчеркивание остается серым
      }
    }
  }

  // Активный таб по умолчанию
  &.active {
    color: $color-accent-500;
    //background-color: colors.$color-accent-100;
    background-color: transparent;
    // border: 1px solid colors.$color-accent-500; // Граница становится синей

    // Нижнее подчеркивание для активного таба
    &::after {
      background-color: $color-accent-500; // Синее подчеркивание
    }

    // Hover для активного таба
    &:hover {
      color: $color-accent-500;
      background-color: $color-accent-900; // Темно-синее подчеркивание

      &::after {
        background-color: $color-accent-500; // Синее подчеркивание
      }
    }

    // Focus для активного таба
    &:focus {
      outline: 2px solid $color-accent-700; // Белый контур
      //outline-offset: 2px;
    }

    // Disabled для активного таба
    &.disabled {
      color: $color-accent-900; // Темно-синий текст
      cursor: not-allowed;
      //opacity: 0.6;

      &::after {
        background-color: $color-accent-900; // Темно-синее подчеркивание
      }
    }

    // Стили для активного таба с классом active
    &.active {
      background-color: $color-accent-100; // Фон остается синим

      //&::after {
      //  background-color: $primary-color; // Подчеркивание остается синим
      //}
    }
  }
}

// Стили для label (текста внутри таба)
.label {
  transition: color 0.3s ease; // Плавная анимация цвета текста
  margin: 0;

  // Стили для неактивного таба
  &.default {
    color: $color-dark-100; // Серый цвет текста для неактивного таба
  }

  // Стили для активного таба
  &.accent {
    color: $color-accent-500; // Синий цвет текста для активного таба
  }

  // Стили для отключенного таба
  &.disabled {
    color: $color-dark-300; // Темно-серый текст для отключенного таба
    cursor: not-allowed;
    //opacity: 0.6;
  }
}
