@use '../../styles/variables/colors' as colors;

.tabGroup {
  width: 100%;
  display: flex;
  flex-direction: column;


  &[data-orientation="horizontal"] {
    .tabList {
      flex-direction: row;
     // border-bottom: 1px solid colors.$color-light-900; // Фикс: добавлено значение цвета;
    }
  }

  &[data-orientation="vertical"] {
    flex-direction: row;

    .tabList {
      flex-direction: column;
      border-right: 1px solid #ddd;
      min-width: 120px;
    }
  }
}

.tabList {
  display: flex;
  width: 100%;
  //border-bottom: 1px solid #E0E0E0;
  gap: 4px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.tab {
  position: relative;
  padding: 8px 16px;
  color: colors.$color-dark-100;
  background-color:transparent;
  border: none;
  border-radius: 4px 4px 0 0;
  cursor: pointer;
  transition: all 0.2s;
  display: flex;
  align-items: center;
  gap: 8px;

  // Добавляем псевдоэлемент для подчеркивания
  &::after {
    content: '';
    position: absolute;
    bottom: -1px; // Выравниваем по нижней границе контейнера
    left: 0;
    width: 100%;
    height: 2px;
    background-color: colors.$color-dark-100;
    transition: background-color 0.2s;
  }

  &:hover:not(.disabled),
 {
    background-color: colors.$color-accent-900;
    color: colors.$color-accent-500;

    &::after {
      background-color: colors.$color-accent-500; // Подчеркивание при hover
    }
  }


  &.active {
    color: colors.$color-accent-500;
    background-color: colors.$color-accent-100;

    &::after {
      background-color: colors.$color-accent-500; // Яркое подчеркивание для активной вкладки
    }
  }
  &:focus:not(.disabled){
    border:2px solid colors.$color-accent-700;
    color: colors.$color-accent-500;

    &::after {
      background-color: colors.$color-accent-500; // Подчеркивание при focus
    }
  }

  &.disabled {
    cursor: not-allowed;
    color: colors.$color-dark-300;

    &::after {
      background-color: colors.$color-dark-300; // Яркое подчеркивание для активной вкладки
    }
  }



  &.error {
    color: colors.$color-danger-500;

    .errorIndicator {
      color: colors.$color-danger-500;
      font-weight: bold;
    }
  }
}

.tabContent {
  padding: 16px;
  flex-grow: 1;
}

.icon {
  display: flex;
  align-items: center;
}
.label {
  display: inline-flex; // Позволяет использовать flexbox для выравнивания
  align-items: center; // Выравнивание текста по центру относительно иконки
  gap: 8px; // Отступ между иконкой и текстом
  color: inherit; // Наследует цвет текста из родительского элемента
}
.content {
  margin-top: 8px;
}