@use '../../shared/styles/index.scss' as *;

.forgotTitle {
  align-self: center;
}

.inputEmail {
  margin-top: 37px;
}

.container {
  width: 330px;
  display: flex;
  flex-direction: column;
  margin: 14px;
}

.paragraph {
  margin-top: 7px;
  color: $color-light-900;
}

.sendButton {
  margin-top: 18px;
}

.backButton {
  margin: 24px 0;
}

.recaptcha {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
}

.modalButton {
  width: 96px;
  height: 36px;
  position: relative;
  bottom: -12px;
}
