@use '../../styles/variables/colors' as colors;
@use '../../styles/variables/typography' as typo;

.textAreaWrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;

  
}

.textAreaTitle {
    color: colors.$color-light-900;
  }

.textAreaInnerWrapper {
  position: relative;
  display: flex;
  align-items: center;

  &:focus-within {
    color: colors.$color-light-100;
  }

  &:active {
    color: colors.$color-light-100;
  }
}

.textAreaField {
  width: 100%;
  background: transparent;
  border: 1px solid colors.$color-dark-100;
  border-radius: 6px;
  padding: 8px 12px;
  transition: border-color 0.2s;
  resize: none;


  &::placeholder {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: colors.$color-light-900;
  }

  &:hover {
    border-color: colors.$color-light-900;
  }

  &:focus {
    border-color: colors.$color-accent-500;
    outline: none;
  }

  &:active {
    border-color: colors.$color-light-100;
  }

  &.textAreaError {
    border-color: colors.$color-danger-500;

    &:focus {
      border-color: colors.$color-danger-500;
    }
  }

  &.textAreaDisabled {
    color: colors.$color-dark-100;
    border-color: colors.$color-dark-100;
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.textAreaErrorMessage {
  margin-top: 0;
  color: colors.$color-danger-500;
}
