@use '../../styles/index.scss' as *;

.textAreaWrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.textAreaTitle {
  color: $color-light-900;
}

.textAreaInnerWrapper {
  position: relative;
  display: flex;
  align-items: center;

  &:focus-within {
    color: $color-light-100;
  }

  &:active {
    color: $color-light-100;
  }
}

.textAreaField {
  width: 100%;
  background: transparent;
  border: 1px solid $color-dark-100;
  border-radius: 6px;
  padding: 8px 12px;
  transition: border-color 0.2s;
  resize: none;

  &::placeholder {
    font-size: $font-size-m;
    font-weight: $font-weight-regular;
    line-height: $line-height-m;
    color: $color-light-900;
  }

  &:hover {
    border-color: $color-light-900;
  }

  &:focus {
    border-color: $color-accent-500;
    outline: none;
  }

  &:active {
    border-color: $color-light-100;
  }

  &.textAreaError {
    border-color: $color-danger-500;

    &:focus {
      border-color: $color-danger-500;
    }
  }

  &.textAreaDisabled {
    color: $color-dark-100;
    border-color: $color-dark-100;
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.textAreaErrorMessage {
  margin-top: 0;
  color: $color-danger-500;
}
