@use '../../styles/index.scss' as *;

.box {
  display: flex;
  align-items: center;
}

.text {
  &.disabled {
    color: $color-light-900;
    opacity: 1;
  }
}

.indicator {
  color: $color-dark-900;
  width: 24px;
  height: 24px;

  &.disabled {
    color: $color-light-700;
  }
}

.label {
  cursor: pointer;

  display: flex;
  align-items: center;

  & > p {
    margin: 0 2px;
  }

  color: $color-light-100;

  &.indent {
    gap: 8px;
    align-items: flex-start;

    & > p {
      margin: 0;
    }
  }

  &.disabled {
    cursor: default;
    color: $color-light-900;
  }
}

.base {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 18px;
  height: 18px;

  background-color: transparent;
  border: 2px solid $color-light-500;
  border-radius: 2px;

  transition: all 0.2s ease;

  &:disabled {
    cursor: initial;
    border-color: $color-light-900;
  }

  &[data-state='checked'] {
    background-color: $color-light-100;
    border: none;
  }

  &[data-state='checked']:disabled {
    background-color: $color-dark-100;
    border: none;
  }

  &:focus-visible {
    outline: none;
  }

  &[data-state='checked'] .check {
    transform: scale(1);
    opacity: 1;
  }
}

.buttonWrapper {
  cursor: pointer;

  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;

  width: 36px;
  height: 36px;

  background-color: transparent;
  border-radius: 50%;

  &.indent {
    margin: -6px;
  }

  &.disabled {
    cursor: initial;
  }

  &:hover:not(.disabled),
  &:hover:not(.disabled) .base:not([data-state='checked']) {
    background-color: $color-dark-300;
  }

  &:active:not(.disabled) {
    background-color: $color-dark-100;
  }
}
